.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --navy-950: hsl(233, 47%, 7%);
  --blue-950: hsl(244, 37%, 16%);
  --purple-500: hsl(277, 64%, 61%);
  --full-white: hsl(0, 0%, 100%);
  --medium-white: hsla(0, 0%, 100%, 0.75);
  --grey-white: hsla(0, 0%, 100%, 0.6);
}
.root {
  min-height: 100dvh;
  padding-inline: 1rem;
  background-color: var(--navy-950);
  color: var(--full-white);
}

/* resets */
img,
picture,
video,
audio {
  height: 100%;
  width: 100%;
}
/* font weights */

.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-700 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  margin-block: 50px;
  margin-inline: 10px;
  overflow: hidden;
}


.card > .card__header {
  display: flex;
  justify-content: center;
  font-weight: 700;

  position: relative;
}

.card__blur{
  background-color: hsla(277, 96%, 35%, 0.5);

  position: absolute;
  inset: 0;
}

.card__body {
  /* flex: 1; */
  background-color: var(--blue-950);
  padding: 32px;
}

.card-insight {
  color: var(--purple-500);
}

.card__body .card__header {
    text-align: center;
    font-size: 32px;
  }

.card__description {
  font-weight: 400;
  color: var(--grey-white);
  max-width: 300px;
  margin-block: 16px;
  text-align: start;
  line-height: 24px;

  /* display: flex;
    justify-content: center;
    flex-direction: column;
     */
}

.stats__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__stats {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stat__total{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.stat__title {
  font-weight: 400;
  color: var(--grey-white);
}

@media screen and (min-width: 400px) {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: row-reverse;
  }

  .card__header, .card__body{
    width: 420px;
  }

  .card__body .card__header {
    text-align: start;
  }

  .card__body {
    flex: 1;
    padding: 60px 60px 50px 50px;
  }
  .stats__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
